<html>
    <link rel="stylesheet" href="./style.css">
    <body>
        <div id="app">
            <select v-model="selectValue" @change="filterBy(selectValue)">
                <option value="id">ID</option>
                <option value="name">名前</option>
                <option value="company">会社名</option>
                <option value="division">部署名</option>
                <option value="title">役職</option>
            </select>
            <input type="text" v-model="inputValue" placeholder="検索ワード">
            <button @click="searchBtn()">検索</button>
            <dl>
                <p>新規情報追加</p>
                <dt><label for="name">名前</label></dt>
                <dd><input type="text" id="name" v-model="nameValue">
                    <p v-if="isInvalidName" class="error">{{message}}</p>
                </dd>
                <dt><label for="company">会社名</label></dt>
                <dd><input type="text" id="company" v-model="companyValue">
                    <p v-if="isInvalidCompany" class="error">{{message}}</p>
                </dd>
                <dt><label for="division">部署</label></dt>
                <dd><input type="text" id="division" v-model="divisionValue">
                    <p v-if="isInvalidDivision" class="error">{{message}}</p>
                </dd>
                <dt><label for="title">役職</label></dt>
                <dd><input type="text" id="title" v-model="titleValue">
                    <p v-if="isInvalidTitle" class="error">{{message}}</p>
                </dd>
                <button @click="createBtn()">作成</button>
            </dl>
            <table>
                <tr>
                    <th @click="sortBy('id')">ID</th>
                    <th @click="sortBy('name')">名前</th>
                    <th @click="sortBy('company')">会社名</th>
                    <th @click="sortBy('division')">部署</th>
                    <th @click="sortBy('title')">役職</th>
                </tr>
                <!-- <tr v-for="user in sort_users" :key="user.id">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.company}}</td>
                    <td>{{user.division}}</td>
                    <td>{{user.title}}</td>
                </tr> -->
                <tr v-for="user in newUsers" :key="user.list">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.company}}</td>
                    <td>{{user.division}}</td>
                    <td>{{user.title}}</td>
                </tr>
            </table>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./vue.js"></script>
</html>
