table{
  border-collapse: collapse;
}
table th {
  background: dodgerblue;
  color: white;
  font-weight: normal;
  width: 100px;
}
table th:hover,
button:hover{
  opacity: .7;
  cursor: pointer;
}
table th, table td{
  border: 1px solid #555;
  padding: 0 5px;
}
table th a{
  color: white;
  display: block;
}
select, input{
  margin: 5px 5px 5px 0;
  padding: 5px;
}
